body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    margin-top: 20px;

}
#calculator {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    align-items: center;
}
.buttons {
    background-color: blueviolet;
    color: black;
    font-weight: bold;
}